/*Extra large devices (large desktops)*/

@media (max-width: 1199px) { 
    .page-banner .row {
        margin: 0 -15px;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 1024px) { 
    .promo-box .container > div {
        padding: 25px 60px;
    }
    .content-text {
        padding-left: 25px;
    }
    .image-text-box {
        background-image: none !important;
        background-color: #1c1c1c;
        padding: 40px 0;
    }
    .image-text-box .col-md-8 {
        flex: 100%;
        margin-left: 0;
        max-width: 100%;
        text-align: center;
    }
    .image-text-box h2 {
        margin: 0 0 35px;
    }
    .image-text-box.quote-box {
        padding-bottom: 40px;
    }   
    .banner-info img {
        max-width: 310px;
    }
}
@media (max-width: 991px) {
    .promo-box-2 .col-md-6 {
        padding: 0 35px;
    }
    .featured-box h3 {
        font-size: 32px;
    }
    .banner-info .btn.btn-green2 {
        font-size: 32px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) and (max-width: 1024px) { 
    .page-intro.intro-style1 .btn.btn-green {
        font-size: 16px;
        padding: 10px 2px;
        width: 100%;
    }

    .page-content-block h3{
        padding-right: 25px;
    }
    .fat-burning-box.image-text-box{
        background-image: url(../images/loseweight/banner1.jpg) !important;
    }
    .last-secret-box.image-text-box{
        background-image: url(../images/loseweight/banner2.jpg) !important;
    }
    .access-block .container.mr-0 {
        margin-left: 35px;
    }
    .access-block.even-block {
        padding-right: 35px;
    }
}

@media (max-width: 810px) { 
    .b-info-title h3 {
        font-size: 32px;
    }
    .page-banner .banner-info p {
        font-size: 18px;
    }
    .banner-info .btn.btn-green2 {
        font-size: 28px;
    }
}
@media (max-width: 767px) { 
    .btn {
        font-size: 16px;
        padding: 12px 20px;
    }
    .home-banner {
        padding: 80px 0 50px;
    }
    .home-banner h3 {
        font-size: 26px;
    }
    .home-banner h1 {
        font-size: 45px;
    }
    .home-banner p {
        font-size: 18px;
    }
    .btn{
        white-space: normal;
    }
    .promo-box .container > div {
        padding: 25px;
    }
    .page-intro div > img{
        margin: 0 0 20px;
    }
    .page-intro p {
        font-size: 16px;
        line-height: 25px;
    }
    .page-intro h3, .page-intro blockquote {
        font-size: 22px;
    }
    .page-intro blockquote {
        text-align: center;
    }
    .image-text-box h3 {
        font-size: 24px;
    }
    .image-text-box h2 {
        font-size: 45px;
        line-height: 45px;
    }
    .image-text-box .info-block{
        text-align: center;
    }
    .content-promo{
        padding-right: 0;
        position: static;
    }
    .content-text {
        padding-left: 15px;
        padding-bottom: 30px;
    }
    .content-box p, .content-box ul, .content-box ol, .list-style3{
        font-size: 16px;
        line-height: 24px;
    }
    .content-box .single-text h3 {
        font-size: 22px;
        text-align: center;
    }
    .promo-text-box {
        padding: 20px 0 0;
    }
    .promo-text-box h2 {
        font-size: 25px;
        margin: 0 0 20px;
    }
    .content-box ul li {
        line-height: 26px;
        margin: 0 0 20px;
        padding: 0 0 0 25px;
    }
    .page-intro p, .page-intro h3 {
        padding: 0;
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center;
    }
    .content-box p{
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center; 
    }
    .page-intro h3{
        text-align: center;
    }
    .content-promo .promo-text h3 {
        font-size: 24px;
    }
    .content-box .promo-text ul li::before {
        display: inline-block;
        left: 0;
        margin-right: 10px;
        position: relative;
    }
    .content-box .promo-text ul li {
        font-size: 20px;
        padding: 0 30px;
    }
    .content-box ul.list-style1 li::before {
        border-width: 8px 0 8px 10px;
    }
    .quote-box .quotes {
        font-size: 42px;
    }
    footer {
        padding: 40px 0 30px;
    }
    footer .footer-menu-block {
        margin: 0 0 25px;
        text-align: center;
    }
    .footer-social-icons {
        padding-top: 16px;
        text-align: center;
    }
    .footer-info {
        padding-top: 15px;
        text-align: center;
    }
    .image-box .row > img {
        bottom: auto;
        height: auto;
        max-width: 100%;
        padding: 0 20px;
        position: relative;
        top: -30px;
    }
    .image-text-box .info-block img{
        display: none;
    }
    .promo-text-box .col-md-5 h2{
        display: none;
    }
    .promo-text-box .content-text h2 {
        display: block;
        text-align: center;
    }
    .single-text {
        padding-top: 0;
    }
    .image-text-box.quote-box {
        margin: 0 0 50px;
    }
    .content-box p.prm-tx {
        font-size: 24px;
        text-align: center;
    }

    .promo-box-2 .col-md-6 {
        padding: 0 35px 20px;
    }
    .promo-box-2 h3 {
        font-size: 24px;
        margin: 0 0 10px;
    }
    .promo-box-2 p {
        font-size: 16px;
        line-height: 26px;
    }
    .p-text {
        padding: 10px 0 0 0;
    }
    .p-text h3 {
        font-size: 24px;
        text-align: center;
    }
    .content-box .single-text h4 {
        font-size: 24px;
        margin: 0 0 15px;
    }
    .promo-box-3 h3 {
        font-size: 24px;
        margin: 0 0 20px;
        text-align: center;
    }
    .featured-box {
        background-position: right 30px center;
        background-size: 160px auto;
        padding: 60px 0;
    }
    .featured-box .right-box h3 {
        padding-left: 0;
    }
    .featured-box .right-box h3::before {
        left: auto;
        right: 0;
        transform: rotate(0deg);
    }
    .featured-box p {
        margin: 0 0 30px;
        padding-left: 0;
    }
    .featured-box .left-box h3:last-child {
        margin-bottom: 0;
    }
    .checkout-box h4 {
        font-size: 24px;
    }
    .table.item-box thead th, .table.item-box td:first-child, .table.item-box td {
        font-size: 16px;
    }
    .table.item-box td:first-child {
        background-position: top 20px left;
        padding-left: 32px;
    }
    .table.item-box td {
        padding: 20px 15px;
    }
    .btn-social {
        margin: 0 0 20px;
    }
    .list-group-item > div.all-checkout-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .final-item-list td.items-title {
        background-position: left top 15px;
    }
    .notice {
        padding: 10px 0 15px 0;
    }
    .join-program {
        padding: 25px 0 0;
    }
    .featured-box h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .featured-box .border-box {
        padding-right: 200px;
        padding-left: 25px;
    }
    .featured-box h3{
        background-image: url(../images/tick-yellow.png);
        background-repeat: no-repeat;
        background-position: left top 5px;

        padding-right: 0;
        padding-left: 40px;

    }
    .featured-box .right-box h3 {
        padding-left: 40px;
    }
    .featured-box h3::before {
        content: none;
    }
    .featured-box p {
        font-size: 14px;
        line-height: normal;
        padding-left: 30px;
        padding-right: 0;
    }

    .page-content-block h3 {
        font-size: 28px;
        padding: 0 10px;
    }
    .page-content-block p {
        font-size: 18px;
        line-height: 26px;
    }
    .page-content-block .cnt-text {
        text-align: center;
    }
    .page-content-block .cnt-text p{
        text-align: left;
    }
    .page-content-block .order-md-1.cnt-text {
        padding-left: 15px;
    }
    .page-content-block .cnt-text {
        padding-right: 15px;
    }
    .page-content-block h3::after {
        left: 0;
        width: 100%;
    }
    .free-box-title h5 {
        font-size: 26px;
    }
    .offer-box h3 {
        color: #fff;
        font-family: 'GothamProBlack';
        font-size: 26px;
        margin: 0 0 40px;
        text-transform: uppercase;
    }
    .mission-box p {
        font-size: 16px;
        line-height: 24px;
    }
    .image-text-box.box-style3 {
        padding: 50px 0;
    }
    .intro-style1 .col-md-5 {
        padding-left: 15px;
    }
    .parts > div {
        margin: 0 0 15px;
    }
    .parts img {
        margin: 0 0 10px;
    }
    .parts p {
        font-size: 17px;
        line-height: 20px;
    }
    .promo-box-3 h2 {
        background-size: 28px auto;
        font-size: 26px;
        line-height: 30px;
        padding-left: 37px;
    }
    .promo-box-3 .promo3-txt p {
        font-size: 16px;
        line-height: 22px;
    }
    .promo-box-3 .promo3-txt {
        padding: 20px 0 30px 35px;
    }
    .promo-box h2 {
        font-size: 32px;
    }
    .static-image {
        padding: 15px 0;
    }
    .list-style3 li::before {
        border-width: 8px 0 8px 10px;
        padding-right: 10px;
    }
    .list-style3 li {
        line-height: 26px;
    }
    .image-text-box.box-dark {
        text-align: center;
    }
    .image-text-box.box-style1 {
        text-align: center;
    }
    .p-text.list-text {
        padding-left: 25px;
    }
    .content-box .p-text.list-text p{
        text-align: justify;
        text-align-last: initial;
    }
    .promo-box.new-promo-box h3{
        line-height: 30px;
    }

    .afq-banner-title h1 {
        font-size: 28px;
    }
    .afq-banner-title h3 {
        font-size: 18px;
    }
    .afq-promo-box > div {
        text-align: center;
    }
    .afq-promo-box > div img{
        margin: 0 0 15px;
    }
    .afq-promo-box h3 {
        font-size: 30px;
        margin: 0;
    }
    .afq-promo-box{
        padding-bottom: 0;
    }
    .cal-count h3 {
        font-size: 28px;
    }
    .afterquiz-banner::after{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    }
    .access-promo h3 {
        font-size: 28px;
        line-height: 32px;
        margin: 0 0 10px;
    }
    .access-promo p {
        font-size: 20px;
    }
    .access-block img {
        margin-top: 15px;
    }
    .access-block {
        padding: 20px 15px;
    }
    .access-block .container {
        padding: 30px 20px;
    }
    .access-block .container.mr-0 {
        border-right: 3px solid #ffca00;
    }
    .access-block .container.ml-0 {
        border-left: 3px solid #ffca00;
    }
    .access-block .tick-mark {
        top: -40px;
        left: 20px;
    }
    .access-block .ml-0 .tick-mark {
        right: 20px;
    }
    .bonus-title {
        padding: 50px 0;
    }
    .bonus-title h2 {
        font-size: 30px;
    }
    .bonus-title img {
        max-width: 65px;
    }
    .access-block.bonus-box {
        padding: 25px 15px;
    }
    .access-block .block-details h3 {
        font-size: 26px;
    }
    .access-block h4 {
        font-size: 16px;
        padding: 10px 15px;
    }
    .access-block .block-details p {
        font-size: 16px;
        line-height: 24px;
    }
    .access-block.bonus-box .free-bn-title {
        padding: 12px 0;
    }
    .access-block.bonus-box .free-bn-title h3 {
        font-size: 32px;
    }
    .access-block.bonus-box .free-bn-title > div img {
        max-width: 90px;
    }
    .access-block.bonus-box img {
        margin-top: 15px;
    }
    .back-gurrantee-box {
        margin-top: -160px;
        padding: 220px 0 80px;
    }
    .back-gurrantee-box::after{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    }
    .back-gurrantee-box h4 {
        font-size: 24px;
    }
    .gur-box .btn.btn-green.btn-block {
        font-size: 20px;
    }
    .back-gurrantee-box h3 {
        font-size: 32px;
        line-height: 32px;
    }
    .all-products-box p {
        font-size: 20px;
    }
    .all-products-box h3 {
        font-size: 28px;
    }
    .gur-box p {
        font-size: 16px;
        line-height: 22px;
    }
    .gur-box p.notes {
        font-size: 14px;
        line-height: 20px;
    }
    .small-bar {
        display: block;
        margin: 0 0 25px;
    }
    .all-products-box img {
        margin-top: -30px;
    }
    header .header-info{
        text-align: center !important;
        padding-top: 12px;
    }
    .header-block .logo-block {
        text-align: center;
    }
    .header-info span {
        display: block;
    }
    .header-info img {
        display: block;
        margin: 20px auto;
        text-align: center;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .page-banner .row {
        margin: 0 -15px;
    }
    .page-banner .row > div {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-banner .banner-video{
        margin: 0 0 25px;
    }
    .b-info-title h3 {
        font-size: 32px;
    }
    .b-info-title span {
        background-color: #212E34;
        font-size: 32px;
        top: -23px;
    }
    .b-info-title {
        padding: 20px 0 15px;
    }
    .page-banner .banner-info p {
        font-size: 16px;
    }
    .banner-info .btn.btn-green2 {
        font-size: 28px;
    }
    .page-banner {
        padding: 40px 0;
    }
    .page-block-info h3 {
        font-size: 36px;
    }
    .page-block-info p {
        font-size: 24px;
    }
    .pr-item > div span {
        font-size: 28px;
    }
    .pr-item > div.col-md-12 span {
        max-width: 76%;
    }
    .banner-info img {
        max-width: 100%;
    }
    .page-text-block h4 {
        font-size: 24px;
    }
    .page-text-block p {
        font-size: 20px;
    }
    .content-details h2 {
        font-size: 36px;
    }
    .content-details h3 {
        font-size: 28px;
    }
    .content-details p {
        font-size: 20px;
        line-height: 30px;
    }
    .content-details h3.title1 {
        text-align: center;
    }
    .bg-block h3 {
        font-size: 36px;
    }
    .bg-block p {
        font-size: 28px;
        line-height: 34px;
    }
    .pr-item-block {
        padding: 25px 20px;
    }
    .bg-block2 h3 {
        font-size: 28px;
        line-height: 40px;
    }
    .details-txt {
        padding: 0;
    }
    .details-txt .more-text {
        padding: 0;
    }
    .details-txt p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 0;
    }
    .details-txt img {
        display: block;
        float: none;
        margin: 0 auto 20px;
    }
    .bg-block3 h2 {
        font-size: 36px;
    }
    .bg-block3 h4 {
        font-size: 28px;
    }
    .bg-block3 p {
        font-size: 20px;
        line-height: 26px;
    }
    .bg-block3 h3 {
        font-size: 28px;
    }
    .content-details .more-txt-details h5 {
        font-size: 36px;
        margin: 0 10px 30px;
        padding: 12px 10px;
    }
    .content-details .more-txt-details h6 {
        font-size: 24px;
    }
    .page-banner .row > div.banner-info {
        padding-right: 15px;
    }
    .content-details .more-txt-details h3 {
        padding: 20px 10px;
    }
    .banner-video .header-info {
        padding: 25px 0 0;
        text-align: center;
    }
    .header-info .btn.btn-green2 {
        display: block;
        font-size: 28px;
        padding: 8px 10px;
    }
    .offer-img {
        padding: 20px 0 0;
    }
    .mb-pd{
        padding-top: 0;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    .promo-box h3 {
        font-size: 26px;
    }
    .featured-box .border-box {
        padding-left: 30px;
        padding-right: 160px;
    }
    .featured-box h3 {
        background-size: 16px auto;
        font-size: 20px;
        line-height: 24px;
        margin: 25px 0;
        padding-left: 30px;
    }
    .featured-box .right-box h3 {
        padding-left: 30px;
    }
    .featured-box {
        background-position: right 25px center;
        background-size: 140px auto;
    }
    .pr-item > div.col-md-12 span {
        max-width: 65%;
    }
    .pr-item > div span {
        font-size: 22px;
    }
}
@media (max-width: 480px) { 
    .content-box ul.list-style1 li {
        padding: 0 0 0 25px;
    }
    .content-box ul li {
        padding: 0 0 0 40px;
    }
    .featured-box h3 {
        font-size: 25px;
        line-height: 28px;
        margin: 30px 0;
    }
    .featured-box .border-box {
        padding-left: 20px;
    }
    .featured-box h3 {
        font-size: 18px;
        line-height: 20px;
        margin: 25px 0;
    }
    .promo-box-2 .col-md-6 {
        padding: 0 15px 20px;
    }
    .promo-box-2 .col-md-6:last-child{
        padding-bottom: 0;
    }
    .bonus-banner h3 {        
        font-size: 20px;
    }
    .page-content-block .row {
        padding: 40px 0 20px;
    }
    .page-content-block h3 {
        max-width: 375px;
    }
    .access-block.bonus-box .free-bn-title h3 {
        padding-right: 95px;
    }
    .bonus-title h2 span {
        display: block;
    }
    .all-products-box img {
        margin-top: -20px;
    }
    .content-details .more-txt-details h5 {
        font-size: 24px;
        margin: 0 0 30px;
    }
    .content-details .more-txt-details h6 {
        font-size: 20px;
        display: block;
        padding: 10px 0;
    }
    .more-txt-box h3 {
        font-size: 24px;
    }
    .more-txt-box h5 {
        display: block;
        font-size: 20px;
        padding: 10px 20px;
    }
    .more-txt-box h4 {
        font-size: 28px;
        margin: 0 0 30px;
        padding: 12px 10px;
    }
    .bg-block4 h3 {
        font-size: 24px;
    }
    .content-details h3.title2 {
        font-size: 22px;
        line-height: 28px;
        margin: 20px 0;
    }
    .content-details h4.box-title {
        display: block;
        font-size: 28px;
        padding: 8px 20px;
    }
    .content-details h3.title3 {
        font-size: 22px;
        line-height: 30px;
    }

    .page-text-block p {
        font-size: 14px;
        line-height: 20px;
    }
    .page-text-block p span {
        line-height: 20px;
    }
    .content-details p {
        font-size: 14px;
        line-height: 20px;
    }
    .content-details.bg-color-dark{
        padding-bottom: 0;
    }
    .details-txt p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .bg-block3 p {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 15px;
    }
    .page-block-info h3 {
        font-size: 26px;
        margin: 0 0 5px;
    }
    .page-block-info p {
        font-size: 18px;
    }
    .content-details h2 {
        font-size: 28px;
        margin: 20px 0;
    }
    .content-details h3 {
        font-size: 22px;
        margin: 20px 0;
    }
    .content-details h3:first-child{
        margin-top: 0;
    }
    .content-details p{
        margin-bottom: 15px;
    }
    .bg-block h3 {
        font-size: 26px;
    }
    .bg-block p {
        font-size: 22px;
        line-height: 28px;
    }
    .bg-block2 h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .bg-block3 h2 {
        font-size: 26px;
    }
    .bg-block3 h4, .bg-block3 h3 {
        font-size: 22px;
    }
    .content-details .more-txt-details h2 {
        font-size: 28px;
    }
    .content-details .more-txt-details h4 {
        font-size: 22px;
        margin: 20px 0;
    }
    .details-txt .more-text p span{
        padding: 4px 0 4px 5px;
    }
    .content-details h2:first-child{
        margin-top: 0;
    }
    .form-box {
        padding: 25px 25px 30px;
    }
}
@media (max-width: 400px) { 
    .promo-box h3 {
        font-size: 22px;
    }
    .home-banner h3 {
        font-size: 20px;
    }
    .home-banner h1 {
        font-size: 32px;
    }
    .home-banner p {
        font-size: 16px;
    }
    .featured-box h3 {
        background-size: 14px auto;
        font-size: 18px;
        line-height: 20px;
        padding-left: 25px;
    }
    .featured-box {
        background-size: 135px auto;
    }
    .featured-box p {
        font-size: 15px;
        line-height: 18px;
        padding-left: 25px;
    }
    .featured-box .border-box {
        padding-right: 140px;
    }
    .featured-box .right-box h3 {
        padding-left: 25px;
    }
    .page-content-block p {
        font-size: 16px;
        line-height: 22px;
    }
    .afterquiz-banner::after {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    .pr-item > div span {
        font-size: 18px;
    }
    .pr-item > div span {
        max-width: 63%;
    }
    .pr-item > div.col-md-12 span {
        max-width: 64%;
    }
}

@media (max-width: 355px) { 

}