/*=================================*/
/*  Import Fonts
/*=================================*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700,900');


@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamProBlack.eot');
    src: url('../fonts/GothamProBlack.eot') format('embedded-opentype'),
        url('../fonts/GothamProBlack.woff2') format('woff2'),
        url('../fonts/GothamProBlack.woff') format('woff'),
        url('../fonts/GothamProBlack.ttf') format('truetype'),
        url('../fonts/GothamProBlack.svg#GothamProBlack') format('svg');
}
@font-face {
    font-family: 'GothamProBold';
    src: url('../fonts/GothamProBold.eot');
    src: url('../fonts/GothamProBold.eot') format('embedded-opentype'),
        url('../fonts/GothamProBold.woff2') format('woff2'),
        url('../fonts/GothamProBold.woff') format('woff'),
        url('../fonts/GothamProBold.ttf') format('truetype'),
        url('../fonts/GothamProBold.svg#GothamProBold') format('svg');
}


/*=================================*/
/*  Preloader 
/*=================================*/

.page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100000;    
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 2px solid rgba(0,0,0, 0.08);
    border-right: 2px solid rgba(0,0,0, 0.08);
    border-bottom: 2px solid rgba(0,0,0, 0.08);
    border-left: 2px solid rgba(255,200,0, 1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 100001;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*============ End Preloader =============*/

/*=================================*/
/*  Global Styles
/*=================================*/

body {
    color:#414042;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
*{
    line-height: normal;
}

.container{
    max-width: 1150px;
}
.container2 {
    max-width: 1050px;
}
h1, h2, h3, h4{
    color: #000100;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: 1;
}
p{
    color: #000100;
    line-height: 22px;
}

.btn {
    background: rgb(251,237,186);
    background: -moz-linear-gradient(top, rgba(251,237,186,1) 0%, rgba(253,203,11,1) 100%);
    background: -webkit-linear-gradient(top, rgba(251,237,186,1) 0%,rgba(253,203,11,1) 100%);
    background: linear-gradient(to bottom, rgba(251,237,186,1) 0%,rgba(253,203,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbedba', endColorstr='#fdcb0b',GradientType=0 );
    border: none;
    color: #131217;
    border-radius: 0;
    font-family: 'GothamProBlack';
    font-size: 20px;
    padding: 15px 30px;
    text-transform: uppercase;

    -webkit-box-shadow: 0px 5px 20px -5px rgba(4,9,36,0.6);
    box-shadow: 0px 5px 20px -5px rgba(4,9,36,0.6);
}
.btn:hover{
    background: -moz-linear-gradient(bottom, rgba(251,237,186,1) 0%, rgba(253,203,11,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(251,237,186,1) 0%,rgba(253,203,11,1) 100%);
    background: linear-gradient(to top, rgba(251,237,186,1) 0%,rgba(253,203,11,1) 100%);
    color: #131217;
}

header{
    padding: 10px 0;
    width: 100%;
    z-index: 9;
}
header .logo {
    line-height: normal;
    margin: 0;
}


.navbar-toggler{
    border: none;
    padding: 0;
}
.navbar-toggler:focus{
    outline: none;
}
.mobile-btn .icon-bar {
    background: #ffc800;
    border-radius: 0;
    display: block;
    height: 3px;
    position: relative;
    width: 35px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.mobile-btn .icon-bar + .icon-bar {
    margin-top: 7px;
}
.mobile-btn[aria-expanded="true"] .icon-bar:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn[aria-expanded="true"] .icon-bar:nth-child(2) {
    background-color: transparent;
}
.mobile-btn[aria-expanded="true"] .icon-bar:nth-child(3) {
    top: -9px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header .navbar-collapse {
    background: #fafafa;
    border-radius: 2px;
    color: #757575;
    min-width: 180px;
    padding: 16px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 100%;
    z-index: 96;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 2px 8px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 2px 8px 0 rgba(0,0,0,.12);
}
.navbar-nav li a {
    color: #757575;
    text-transform: uppercase;
    padding: 12px 5px !important;
}
.navbar-nav li a:hover{
    color: #ffc800;
}

.home-banner{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: -ms-linear-gradient(top, #000000 0%, #0A0A0A 53%, #fff 100%);
    background-image: -moz-linear-gradient(top, #000000 0%, #0A0A0A 53%, #fff 100%);
    background-image: -o-linear-gradient(top, #000000 0%, #0A0A0A 53%, #fff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(53, #0A0A0A), color-stop(100, #fff));
    background-image: -webkit-linear-gradient(top, #000000 0%, #0A0A0A 53%, #fff 100%);
    background-image: url(../images/banner-bg.png), linear-gradient(to bottom, #000000 0%, #0A0A0A 53%, #fff 100%);
    padding: 65px 0;
}
.home-banner .banner-title {
    margin: 0 0 30px;
}
.home-banner h3 {
    color: #fff;
    font-family: 'GothamProBlack';
    font-size: 48px;
    margin: 0;
    opacity: .4;
    text-transform: uppercase;
}
.home-banner h1 span, .home-banner h3 span{
    color: #ffc800;
}
.home-banner h1 {
    color: #fff;
    font-family: 'GothamProBlack';
    font-size: 72px;
    margin: 0;
    text-transform: uppercase;
}
.home-banner p{
    color: #ffc800;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.promo-video{
    background-image: -ms-linear-gradient(top, #BBBBC8 0%, #2d2b43 100%);
    background-image: -moz-linear-gradient(top, #BBBBC8 0%, #2d2b43 100%);
    background-image: -o-linear-gradient(top, #BBBBC8 0%, #2d2b43 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BBBBC8), color-stop(100, #2d2b43));
    background-image: -webkit-linear-gradient(top, #BBBBC8 0%, #2d2b43 100%);
    background-image: linear-gradient(to bottom, #BBBBC8 0%, #2d2b43 100%);

    margin: 0 auto;
    max-width: 815px;
    padding: 15px 13px;
}
.promo-video > div {
    border: 5px solid #fff;
}

.join-program {
    padding: 55px 0 0;
}
.payments-sec{
    margin: 35px 0 0;
}

.promo-box .container > div{
    background-color: #000;
    padding: 25px 70px;
}
.promo-box h3{
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(30, #FFFFFF), color-stop(70, #FFC800));
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0;
    text-transform: uppercase;
}
.page-intro {
    padding: 30px 0;
}
.page-intro h3 {
    color: #000100;
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 15px 0;
    padding: 0 15px;
}
.page-intro p{
    font-size: 20px;
    line-height: 30px;
    padding: 0 15px;
    text-align: justify;
}
.page-intro blockquote {
    background-color: #ffc800;
    color: #000100;
    font-size: 32px;
    font-weight: 900;
    padding: 9px 18px;
}
.image-text-box{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 110px 0;
}
.image-text-box h3 {
    color: #fff;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.image-text-box h2{
    color: #ffca00;
    font-family: 'GothamProBlack';
    font-size: 72px;
    line-height: 65px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.content-box {
    padding: 20px 0 20px;
}
.single-text {
    padding-top: 30px;
}
.content-box p, .content-box ul, .content-box ol{
    color: #000100;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.content-box .single-text h3{
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 0 0 25px;
}
.content-box ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.content-box ul li {
    line-height: 32px;
    margin: 0 0 25px;
    padding: 0 0 0 35px;
    position: relative;
}
.content-box ul li:last-child{
    margin: 0;
}
.content-box ul li:before{
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 5px;
    width: 0;
}
.content-box ul.list-style1 li:before{
    border-style: solid;
    border-width: 12px 0 12px 15px;
    border-color: transparent transparent transparent #2d4758;
}
.content-box ul.list-style2 li::before{
    background-image: url(../images/like.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 24px;
    height: 24px;
}

.promo-text-box {
    padding: 40px 0 0;
}
.promo-text-box h2 {
    border-bottom: 15px solid #ffc800;
    border-top: 15px solid #ffc800;
    color: #2d4758;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0 0 50px;
    padding: 20px 0;
    text-transform: uppercase;
}
.promo-text-box .content-text h2{
    display: none;
}
.content-promo {
    bottom: 0;
    left: 15px;
    padding-right: 30px;
    position: absolute;
    width: 100%;
}
.content-box p.prm-tx {
    color: #2d4758;
    font-family: 'GothamProBlack';
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
}
.content-promo img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.content-box .content-promo p, .content-promo .promo-text{
    background-color: #ffca00;
    line-height: normal;
    padding: 20px;
}
.content-box .content-promo p:last-child{
    margin: 0;
}
.content-text{
    padding-left: 40px;
}
.info-block .col-md-12 .btn{
    margin: 0 0 30px;
}
.content-promo .promo-text{

}
.content-promo .promo-text h3{
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 0 0 20px;
}
.content-box .promo-text ul li {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 15px;
    padding: 0 55px;
    text-align: center;
    text-transform: uppercase;
}
.content-box .promo-text ul li:before{
    background-image: url(../images/tick-icon.png);
    background-repeat: no-repeat;
    background-position: left 0 top;
    height: 24px;
    left: 30px;
    width: 24px;
}
.content-box .single-text ul {
    margin: 0 0 30px;
}
.quote-box .quotes {
    background-color: #4e3d01;
    font-size: 72px;
}
.image-text-box.quote-box {
    padding-bottom: 165px;
}
.bottom-gradient{
    background-image: -ms-linear-gradient(top, #E9E8EE 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(top, #E9E8EE 0%, #FFFFFF 100%);
    background-image: -o-linear-gradient(top, #E9E8EE 0%, #FFFFFF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9E8EE), color-stop(100, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #E9E8EE 0%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #E9E8EE 0%, #FFFFFF 100%);
    padding: 40px 0;
}

footer{
    background-color: #17171c;
    padding: 65px 0 30px;
}
footer h3 {
    color: #ffc800;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 25px;
    text-transform: uppercase;
}
footer p {
    color: #808080;
    font-size: 13px;
    line-height: 20px;
}
footer .footer-menu-block{
    text-align: right;
}
footer .footer-logo{
    display: inline-block;
    margin: 0 0 30px;
}
footer .footer-logo img{
    max-width: 135px;
}
.footer-menu{
    list-style: none;
    padding: 0;
}
.footer-menu li{
    margin: 0 0 15px;
    position: relative;
}
.footer-menu li:before{
    border-style: solid;
    border-width: 7px 0 7px 8px;
    border-color: transparent transparent transparent #ffc300;
    height: 0;
    left: 0;
    position: absolute;
    top: 5px;
    width: 0;
}
.footer-menu li.active:before, .footer-menu li:hover:before{
    content: '';
}
.footer-menu li a{
    color: #ffc300;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-menu li.active a{
    text-decoration: underline;
}
.footer-menu li a:hover{
    text-decoration: none;
}
.footer-info {
    color: #8c8c8c;
    font-size: 10px;
    padding-top: 30px;
}
.footer-info span{
    margin-left: 20px;
}
.footer-social-icons{
    padding-top: 30px;
    text-align: right;
}
.footer-social-icons > a{
    color: #8b8b8e;
    font-size: 16px;
    margin: 0 0 0 10px;
}
.footer-social-icons > a:hover{
    color: #ffc800;
}
.pos-top {
    bottom: 0;
    height: 123px;
    position: fixed;
    right: 0;
    width: 83px;
    z-index: 50;
}

.featured-img-box{
    background-image: -ms-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: -moz-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: -o-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(60, #000000), color-stop(100, #424253));

    background-image: -webkit-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: linear-gradient(to bottom right, #000000 60%, #424253 100%);

    margin: 50px 0 0;
    padding: 0 0 30px;
}
.featured-img-box .img-box img{
    margin-top: -28px;
}

.info-featured{
    padding-top: 30px;
}
.featured-img-box .btn {
    padding: 12px 20px;
}

.image-box{
    background-image: -ms-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: -moz-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: -o-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(60, #000000), color-stop(100, #424253));

    background-image: -webkit-linear-gradient(top left, #000000 60%, #424253 100%);

    background-image: linear-gradient(to bottom right, #000000 60%, #424253 100%);

    padding: 0;
    position: relative;
    margin: 50px 0 0;
}
.image-box .row > img{
    position: absolute;
    bottom: 0;
}
.text-details{
    padding-bottom: 40px;
    padding-top: 40px;
}



/*=================================*/
/*  New Page Styles
/*=================================*/
.container3{
    max-width: 630px;
}
.promo-box-2 {
    padding: 30px 0;
}
.promo-box-2 h3 {
    color: #000100;
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 0 0 20px;
}
.promo-box-2 p {
    font-size: 20px;
    line-height: 30px;
}
.promo-box-2 .col-md-6 {
    padding: 0 80px;
}
.page-intro.text-center p{
    text-align: center;
}
/*.featured-box{
    background-repeat: no-repeat;
    background-position: center;
    
}*/
.p-text {
    padding: 20px 0 0 35px;
}
.p-text h3 {
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 15px 0;
}
.image-text-box.box-style1 h3 {
    margin: 45px 0 30px;
}
.image-text-box.box-style1 h2 {
    margin: 0 0 30px;
}
.image-text-box.box-style1 {
    padding-bottom: 55px;
}
.image-text-box.box-style2 {
    padding: 135px 0 10px;
}
.text-style1 li{
    font-size: 23px;
    text-align: left;
    text-transform: uppercase;
}
.content-box .single-text h4{
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0 0 25px;
    text-transform: uppercase;
}
.promo-box-3 {
    padding: 50px 0;
}
.promo-box-3 h3 {
    color: #2d4758;
    font-family: 'GothamProBlack';
    font-size: 32px;
}
.featured-box{
    background-repeat: no-repeat;
    background-position: center;
    padding: 140px 0;
}
.featured-box .border-box{
    background-color: #000;
    padding: 0 45px;
    position: relative;
    z-index: -1;
}
.featured-box h3{
    color: #ffc800;
    font-family: 'GothamProBlack';
    font-size: 40px;
    line-height: 38px;
    margin: 40px 0;
    padding-right: 25px;
    position: relative;
    text-transform: uppercase;
}
.featured-box h3::before {
    border-style: solid;
    border-width: 12px 0 12px 15px;
    border-color: transparent transparent transparent #ffc800;

    content: '';
    height: 0;
    right: 0;
    position: absolute;
    top: 5px;
    width: 0;
}
.featured-box .right-box h3:before{
    left: 0;
    right: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.featured-box .right-box h3{
    padding-left: 40px;
    padding-right: 0;
}
.featured-box p{
    color: #ffc800;
    font-size: 20px;
    font-style: italic;
    padding: 0 40px;
}




/*=================================*/
/*  Checkout Page Styles
/*=================================*/

.dark-header {
    background-color: #000100;
}
.checkout-box {
    padding: 50px 0;
}
.checkout-box h4{
    color: #000;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.table.item-box thead{
    background-color: #ffca00;
}
.table.item-box thead th{
    border: none;
    color: #000;
    font-family: 'GothamProBold';
    font-size: 18px;
    padding: 12px 20px;
}
.table.item-box td{
    border: none;
    color: #000;
    font-family: 'GothamProBold';
    font-size: 20px;
    padding: 30px 20px;
}
.table.item-box td:first-child {
    background-image: url(../images/itm-icon.png);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: top 29px left;
    font-family: 'GothamProBlack';
    font-size: 20px;
    padding-left: 35px;
    text-transform: uppercase;
}
.checkout-box .list-group-item {
    border: none;
    padding: 0 !important;
}
.checkout-box .list-group-item h5 {    
    background-color: #ffca00;
    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 18px auto;
    color: #000;
    font-family: 'GothamProBold';
    font-size: 18px;
    margin: 0 0 5px;
    padding: 15px 20px;
}
.list-group-item > div {
    border: 1px solid #aeaeae;
    margin: 5px 0;
    padding: 25px 20px;
}
.checkout-box .list-group-item.open h5{
    background-color: #f2f2f2;
    background-image: none;
    color: #8c8997;
}
.required-field > label::after {
    content: " \f005";
    color: #F44336;
    font-family: FontAwesome;
    font-size: .6em;
    margin-left: 3px;
    vertical-align: super;
}
form label {
    font-size: 16px;
}
form .form-control {
    border-radius: 0;
}
.form-control:focus{
    border-color: #ffca00;
    box-shadow: none;
}
.btn-social{
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    margin: 0 3px;
    overflow: hidden;
    padding: 8px 20px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.btn.btn-facebook {
    color: #fff;
    background: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn.btn-twitter {
    color: #fff;
    background: #55acee;
    border-color: rgba(0,0,0,0.2);
}
.btn-social > span{
    margin-right: 6px;
}
.btn.btn-submit {
    background: #2fc656;
    box-shadow: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 20px;
}
.btn.btn-back {
    background: transparent;
    border: 1px solid #aeaeae;
    box-shadow: none;
    color: #5e6266;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 20px;
}
.btn.btn-back img {
    margin-right: 2px;
    max-width: 13px;
    vertical-align: initial;
}
.btn.btn-submit:hover, .btn.btn-back:hover{
    opacity: .7;
}
.submit-step{
    padding: 20px 0 0;
}
.final-item-list td{
    border-top: none;
    border-bottom: 1px solid #aeaeae;
    color: #000;
    font-family: 'GothamProBold';
    text-transform: uppercase;
}
.final-item-list td.items-title{
    background-image: url(../images/itm-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px auto;
}
.final-item-list td:first-child{
    padding-left: 30px;
}
.list-group-item > div.all-checkout-item{
    padding-left: 55px;
    padding-right: 55px;
}
.notice {
    padding: 10px 0 15px 15px;
}
.notice p {
    background-image: url(../images/lock.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 11px auto;
    font-size: 14px;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 22px;
}



/*=================================*/
/*  After quiz Styles
/*=================================*/ 
.page-content-block .row {
    padding: 40px 0;
}
.page-content-block h3{
    display: inline-block;
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 0 0 30px;
    padding-right: 30px;
    position: relative;
}
.page-content-block h3:after{
    content: '';
    background-color: #ffc800;
    bottom: 3px;
    height: 8px;
    left: -10px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.page-content-block p{
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}
.page-content-block .cnt-img-box{
    margin: 0 0 20px;
    position: relative;
}
.page-content-block h4{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.page-content-block .cnt-text {
    padding-right: 60px;
}
.page-content-block .order-md-1.cnt-text {
    padding-left: 60px;
    padding-right: 15px;
}
.bonus-banner {
    position: relative;
}
.bonus-banner img{
    width: 100%;
}
.bonus-banner h3 {
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 100%); 
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 100%); 
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 100%); 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(30, #FFFFFF), color-stop(100, #FFC800)); 
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 100%); 
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #FFFFFF 30%, #FFC800 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'GothamProBlack';
    font-size: 32px;
    left: 0;
    margin: 0 auto;
    max-width: 800px;
    text-transform: uppercase;
    position: absolute;
    top: 55%;
    right: 0;
    text-align: center;
}
.free-box-title {
    padding: 50px 0 0;
}
.free-box-title h5{
    color: #2d4758;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0;
    text-transform: uppercase;
}
.free-img {
    position: absolute;
    bottom: -75px;
    right: 15px;
}
.order-md-1 + .cnt-img .free-img {
    right: auto;
    left: 15px;
}

.offer-box{
    background-color: #000000;
    padding: 30px 0 50px;
}
.offer-box h3 {
    color: #fff;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0 0 40px;
    text-transform: uppercase;
}
.offer-box h3 span{
    color: #ffc800;
    display: block;
    margin-top: 30px;
}
.mission-box{
    padding: 50px 0 80px;
}
.mission-box p{
    color: #000100;
    font-size: 20px;
    line-height: 28px;
}
.mission-box p.desclaimer{
    font-size: 14px;
    line-height: 20px;
}
.btn.btn-green {
    background: #2aca55;
    box-shadow: none;
    color: #fff;
}
.btn.btn-green:hover{
    opacity: .8;
}


/*=================================*/
/*  Six Pack Styles
/*=================================*/

.image-text-box.box-style3 {
    padding: 190px 0 80px;
}
.quote-small{
    color: #fff;
    font-size: 32px;
    vertical-align: top;
}
.content-box .text-center > p{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.intro-style1.page-intro p, .intro-style1.page-intro h3 {
    padding: 0;
}
.intro-style1.page-intro .col-md-5 img.img-fluid{
    width: 100%;
}
.intro-style1.page-intro .col-md-5 img{
    max-width: 100%;
}
.intro-style1 .col-md-5 {
    padding-left: 60px;
}
.cnt-box-style1 .promo-text-box {
    padding-top: 0;
}

.container4{
    max-width: 890px;
}

.parts {
    margin: auto;
    max-width: 815px;
    padding: 30px 0 0;
}
.parts img{
    margin: 0 0 15px;
    width: 100%;
}
.parts p{
    color: #d6d6d6;
    font-size: 20px;
}
.promo-box-3 h2{
    background-image: url(../images/toned/logo-black.png);
    background-repeat: no-repeat;
    background-position: left top 6px;
    color: #000;
    font-family: 'GothamProBlack';
    font-size: 36px;
    line-height: 36px;
    padding-left: 50px;
    text-transform: uppercase;
}
.promo-box-3 .promo3-txt {
    padding: 30px 0 0 50px;
}
.promo-box-3 .promo3-txt p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.promo-box h2 {
    color: #ffc800;
    font-family: 'GothamProBlack';
    font-size: 40px;
    margin: 12px 0;
    text-transform: uppercase;
}
.promo-box h3 span {
    color: #fff;
}

.static-image{
    padding: 40px 0;
}
.static-image img{
    width: 100%;
}



.image-text-box.box-dark {
    background-color: #000000;
    padding: 50px 0 30px;
}
.image-text-box.box-dark h3{
    margin: 0 0 25px;
}
.image-text-box.box-dark h2 {
    margin: 0 0 45px;
}
.content-box-link {
    padding: 70px 0 40px;
}
.list-style3 {
    color: #000;
    list-style: none;
    margin: 0;
    font-size: 20px;
    padding: 5px 0 0;
}
.list-style3 li{
    line-height: 32px;
    margin: 0 0 25px;    
    position: relative;
    text-align: justify;
}
.list-style3 li::before {
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #2d4758;
    content: '';
    display: inline-block;
    height: 0;
    left: 0;
    padding-right: 15px;
    position: relative;
    top: 3px;
    width: 0;
}

.content-box ul.list-style3 li{
    padding: 0 !important;
}
.content-box ul.list-style3 li:before{
    position: relative;
}





/*=================================*/
/*  Afterquiz Page v2
/*=================================*/

.afterquiz-banner {
    padding: 65px 0;
    position: relative;
}
.afterquiz-banner:after{
    content: '';

    background-repeat: no-repeat;
    background-position: top center;    
    background-image: -ms-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -moz-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -o-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000509), color-stop(100, #222F3B));
    background-image: -webkit-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: url(../images/banner-bg.png), linear-gradient(to bottom, #000509 0%, #222F3B 100%);  

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
    z-index: -1;
}

.afq-banner-title h1 {
    color: #f71908;
    font-family: 'GothamProBlack';
    font-size: 36px;
    margin: 0;
}
.afq-banner-title h3{
    color: #fff;
    font-family: 'GothamProBlack';
    font-size: 22px;
    margin: 0 0 15px;
}
.afq-banner-title h3 span{
    color: #ffc800;
}

.afq-video {
    border: 3px solid #fff;
    margin: 0 auto;
    max-width: 725px;
    padding: 0;
}
.afq-promo-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    padding: 25px 0;
}
.afq-promo-box > div{
    padding: 0 5px;
}
.afq-promo-box > div.col-md-9{
    padding-left: 20px;
}
.afq-promo-box h3 {
    background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: -o-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(30, #FFFFFF), color-stop(70, #FFC800));
    background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    background-image: linear-gradient(to bottom right, #FFFFFF 0%, #FFFFFF 30%, #FFC800 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'GothamProBlack';
    font-size: 38px;
    margin: 0 0 10px;
    text-transform: uppercase;


}
.afq-promo-box p{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

.cal-count{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.cal-count h3{
    background-image: -ms-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: -moz-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: -o-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFE582), color-stop(100, #ffcb03));
    background-image: -webkit-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: linear-gradient(to bottom, #FFE582 0%, #ffcb03 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

/*=================================*/
/*  Progress Bar
/*=================================*/

.counter-box {
    text-align: center;
}
.small-bar {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
}
.small-bar svg{
    background-color: #40556a;
    border: 7px solid #74818f;
    border-radius: 50%;
}
.small-bar .outer {
    background-image: -ms-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: -moz-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: -o-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFE582), color-stop(100, #ffcb03));
    background-image: -webkit-linear-gradient(top, #FFE582 0%, #ffcb03 100%);
    background-image: linear-gradient(to bottom, #FFE582 0%, #ffcb03 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'GothamProBold';
    font-size: 30px;
    left: 0;
    position: absolute;
    right: 0;
    top: 45%;
    text-align: center;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-info {
    position: absolute;
    bottom: 28px;
    text-align: center;
    left: 0;
    right: 0;

    color: #fff;
    font-family: 'GothamProBold';
    font-size: 20px;
    margin: 0;
}
.c-info span {
    color: #51d02a;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.big-bar .c-info {
    bottom: 32px;
    font-size: 25px;
}
.big-bar .c-info span {
    font-size: 16px;
}
.big-bar .outer{
    font-size: 37px;
}

.access-promo{
    padding: 0 0 40px;
}
.access-promo h3 {
    color: #000509;
    font-family: 'GothamProBlack';
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.access-promo p{
    color: #868686;
    font-size: 24px;
    font-weight: 700;
}
.access-promo p span{
    color: #e2280f;
}
.access-promo p img{
    margin-right: 5px;
    margin-top: -5px;
}


.access-block {
    padding: 130px 0 30px;
}
.access-block .container {
    background-color: #fcfcfb;
    border: 3px solid #ffca00;
    padding: 30px 40px;
    position: relative;
}
.access-block .container.ml-0{
    border-left: 0;
}
.access-block .container.mr-0{
    border-right: none;
}
.access-block img {
    margin-top: -138px;
}
.access-block .block-details{

}
.access-block .block-details h3{
    color: #000;
    font-family: 'GothamProBold';
    font-size: 32px;
    margin: 0 0 20px;
}
.access-block .block-details p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.access-block .tick-mark {
    position: absolute;
    top: 105px;
    left: -21px;
}
.access-block .ml-0 .tick-mark {
    left: auto;
    right: -21px;
}
.access-block h4 {
    background-color: #ffc800;
    display: inline-block;
    font-size: 18px;
    left: -16px;
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 12px 20px;
    position: relative;
}
.bonus-title {
    padding: 115px 0 90px;
}
.bonus-title h2{
    color: #f20909;
    font-family: 'GothamProBlack';
    font-size: 36px;
    margin: 0 0 25px;
    text-transform: uppercase;
}
.bonus-title h2 span{
    background-color: #ffca00;
    color: #000;
    display: inline-block;
    padding: 0 8px;
}

.access-block.bonus-box {
    padding: 25px 0;
}
.access-block.bonus-box .container {
    border-top: none;
    padding: 0;
}
.access-block.bonus-box .free-bn-title{
    background-color: #F1090A;
    margin: 0 0 15px;
    padding: 15px 0;
}
.access-block.bonus-box .free-bn-title h3{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-right: 145px;
    text-shadow: 1px 5px 0px #951328;
}
.access-block.bonus-box .free-bn-title > div img{
    position: absolute;
    margin: 0;
    right: 20px;
    top: -4px;
    max-width: 120px;

}
.access-block.bonus-box img{
    margin-top: -60px;
}
.access-block.bonus-box .block-details {
    padding-right: 50px;
    padding-top: 15px;
}
.access-block .row{
    margin: 0;
}
.access-block.bonus-box .mr-0 .block-details {
    padding: 15px 30px;
}
.access-block.bonus-box .mr-0 .free-bn-title{

}
.access-block.bonus-box .mr-0 .free-bn-title > div{
    padding-left: 30px;
}
.back-gurrantee-box {
    margin-top: -225px;
    /*padding: 350px 0 80px;*/
    padding: 270px 0 90px;
    position: relative;
    text-align: center;
}
.back-gurrantee-box::after {
    content: '';
    background-repeat: no-repeat;
    background-position: top center;
    background-image: -ms-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -moz-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -o-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000509), color-stop(100, #222F3B));
    background-image: -webkit-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: linear-gradient(to bottom, #000509 0%, #222F3B 100%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    z-index: -1;
}
.back-gurrantee-box2{
    background-image: -ms-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -moz-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -o-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000509), color-stop(100, #222F3B));
    background-image: -webkit-linear-gradient(top, #000509 0%, #222F3B 100%);
    background-image: linear-gradient(to bottom, #000509 0%, #222F3B 100%);
    padding: 50px 0;
}

.back-gurrantee-box h3{
    color: #f20909;
    font-family: 'GothamProBlack';
    font-size: 48px;
    margin: 0 0 30px;    
    text-transform: uppercase;
}
.back-gurrantee-box h4{
    color: #fff;
    font-family: 'GothamProBlack';   
    font-size: 32px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.gur-box {
    margin: 0 auto;
    max-width: 610px;
    text-align: center;
}
.gur-box p {
    font-size: 20px;
    color: #fff;
    line-height: 26px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.gur-box p.notes{
    font-size: 16px;
    text-align: center;
}
.gur-box .btn.btn-green.btn-block {
    font-size: 30px;
}
.main-content-box{
    max-width: 1800px;
    margin: 0 auto;
}


.all-products-box{
    padding: 50px 0 70px;
}
.all-products-box h3 {
    color: #f20909;
    font-family: 'GothamProBlack';
    font-size: 32px;
    margin: 0;
    text-transform: uppercase;
}
.all-products-box h3 span{
    color: #000;
    display: block;
}
.all-products-box p {
    color: #868686;
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0 0;
}
.all-products-box p img {
    margin-right: 5px;
    margin-top: -5px;
}
.all-products-box p span {
    color: #e2280f;
}
.all-products-box img {
    margin-top: -50px;
    z-index: -1;
    position: relative;
}


.header-block {
    background-color: #000;
    border-bottom: 1px solid #ffca00;
}
.page-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}
.header-info span{
    color: #f0c922;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
}
.header-info img{
    margin: 0 10px;
}
.btn.btn-green2 {
    background: #23c84f;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: none;
    padding: 3px 20px;
    vertical-align: middle;
}
.btn.btn-green2:hover{
    opacity: .8;
}
.page-banner .row {
    margin: 0 -35px;
}
.page-banner .row > div{
    padding-left: 35px;
    padding-right: 35px;
}
.page-banner .row > div.banner-info {
    padding-right: 70px;
}
.page-banner .banner-video p {
    color: #fff;
    font-size: 16px;
    margin: 20px 0 0;
    text-align: center;
}
.b-info-title {
    border: 3px solid #fff;
    padding: 25px 0 15px;
    position: relative;
    text-align: center;
}
.b-info-title h3{
    color: #f0c922;
    font-family: 'GothamProBlack';
    font-size: 42px;
    margin: 0;
    text-transform: uppercase;
}
.b-info-title span {
    background-color: #161d24;
    color: #fff;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    font-weight: 700;
    left: 50%;
    padding: 0 15px;
    text-transform: uppercase;
    top: -28px;

    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.page-banner .banner-info{
    padding-top: 15px;
}
.page-banner .banner-info p{
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    margin: 15px 0 20px;
    text-align: center;
}
.banner-info img {
    margin: 15px 0 0;
    max-width: 350px;
}
.banner-info .btn.btn-green2{
    display: block;
    font-size: 42px;
}

.page-block {
    padding: 40px 0;
}
.page-block-info h3{
    color: #f30909;
    font-family: 'GothamProBlack';
    font-size: 42px;
    margin: 0;
    text-transform: uppercase;
}
.page-block-info p{
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.page-block-info p span{
    background-color: #ffca00;
    display: block;
    padding: 3px 0;
}
.page-block-info {
    padding-bottom: 25px;
}
.pr-item > div img, .pr-item > div span{
    display: inline-block;
    vertical-align: middle;
}
.pr-item > div img{
    max-width: 32%;
}
.pr-item > div span{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
    max-width: 65%;
    text-transform: uppercase;
}
.pr-item > div{
    padding-bottom: 10px;
    padding-top: 10px;
}
.pr-item > div.col-md-12 span{
    max-width: 80%;
}

.page-text-block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 30px;
}
.page-text-block h4 {
    color: #ffca00;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 30px;
    text-transform: uppercase;
    text-align: center;
}
.page-text-block h4 span{
    color: #89deff;
}
.page-text-block p{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
}
.page-text-block p span{
    background-color: #ffca00;
    color: #000;
    display: block;
    font-weight: 500;
    padding: 5px 8px 8px;
}
.content-details {
    padding: 40px 0 30px;
}
.content-details h2{
    color: #f30a0b;
    font-family: 'GothamProBold';
    font-size: 42px;
    margin: 0 0 20px;
    text-transform: uppercase;
    text-align: center;
}
.content-details h3{
    color: #0e35df;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 30px;
    text-transform: uppercase;
    text-align: center;
}
.content-details h3.title1{
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: left;
}
.content-details h3.title1 span{
    color: #f30a0b;
}
.content-details p{
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 30px;
    text-align: justify;
}
.content-details p span {
    background-color: #ffca00;
    margin-left: -8px;
    padding: 0 5px;
}
.bg-block{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 55px 0 40px;
}
.bg-block h3{
    background-color: #ffca00;
    color: #f30a0b;
    font-family: 'GothamProBold';
    font-size: 42px;
    margin: 0 0 20px;
    padding: 10px 0;
    text-transform: uppercase;
}
.bg-block p{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
}
.content-details h3 span{
    color: #f30a0b;
    line-height: 1;
}
.pr-item-block {
    background-color: #fafafa;
    border: 1px solid #b7b7b7;
    padding: 30px 40px;
}
.content-details.bg-color-dark {
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #F5F5F5));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F5F5F5 100%);
    position: relative;
}
.content-details.bg-color-dark:after{
    content: '';
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #F5F5F5 transparent transparent transparent;
    bottom: -50px;
    left: 50%;
    height: 0;
    position: absolute;
    width: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.content-details.bg-color-dark h3 {
    font-size: 28px;
}
.pt-large.content-details{
    padding-top: 70px;
}
.bg-block2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}
.bg-block2 h3{
    color: #000;
    font-family: 'GothamProBlack';
    font-size: 34px;
    line-height: 48px;
    margin: 0;
    text-transform: uppercase;
}

.details-txt {
    padding: 0 30px;
}
.details-txt .container {
    max-width: 970px;
}
.details-txt img{
    margin-right: 30px;
}

.details-txt p {
    font-size: 24px;
    line-height: 38px;
    margin: -10px 0 30px;
    text-align: justify;
}
.details-txt .more-text {
    padding: 20px 40px;
}
.details-txt .more-text p{
    margin: 0 0 30px;
}
.details-txt .more-text p span{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: -8px;
    padding: 8px 5px;
}
.details-txt .more-text p span.word1{
    background-image: url(../images/bigger-booty/bg2.png);
}
.details-txt .more-text p span.word2{
    background-image: url(../images/bigger-booty/bg1.png);
}
.details-txt .more-text p span.word3{
    background-image: url(../images/bigger-booty/bg3.png);
}
.bg-block3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0 20px;
    text-align: center;
}
.bg-block3 h2{
    background-color: #ffca00;
    color: #f30a0b;
    font-family: 'GothamProBold';
    font-size: 42px;
    margin: 0 0 20px;
    padding: 10px 0;
    text-transform: uppercase;
}
.bg-block3 h3{
    background-color: #ffca00;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 30px;
    padding: 5px 0;
    text-transform: uppercase;
}
.bg-block3 h3 span{
    color: #0e35df;
}
.bg-block3 h4{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.bg-block3 p{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 30px;
    text-align: justify;
}
.content-details h3.title2{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
}
.content-details h3.title2 span{
    background-color: #ffca00;
    padding: 0 5px;
}
.more-txt-details {
    border: 1px solid #e1e1e1;
}
.content-details .more-txt-details h3{
    background-color: #061d39;
    border-bottom: 1px solid #e1e1e1;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 20px 0;
}
.content-details .more-txt-details h4{
    color: #0e35df;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}
.content-details .more-txt-details h2 {
    margin: 0 0 5px;
}
.content-details .more-txt-details > div{
    background-color: #fafafa;
    padding: 25px 20px 40px;
}
.content-details .more-txt-details p span{
    margin-left: 0;
}
.content-details .more-txt-details h5{
    background-color: #23c84f;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    margin: 0 85px 30px;
    padding: 12px 0;
    text-align: center;
}
.content-details .more-txt-details h6{
    background-color: #ffca00;
    color: #000;
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 10px 40px;
}
.content-details h3.title3 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
}
.content-details h4.box-title {
    color: #0e35df;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    font-weight: 700;
    background-color: #ffca00;
    padding: 8px 35px;
    text-transform: uppercase;
}
.bg-block4{
    background-color: #061d39;
    padding: 30px 0;
    position: relative;
}
.bg-block4:after{
    content: '';
    border-color: #061d39 transparent transparent transparent;
    border-style: solid;
    border-width: 20px 30px 0 30px;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.bg-block4 h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
.bg-block4 h3 span{
    color: #f30a0b;
}
.more-txt-box {
    padding: 50px 0;
}
.more-txt-box h4 {
    background-color: #23c84f;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    margin: 0 30px 30px;
    padding: 12px 0;
    text-align: center;
}
.more-txt-box h5 {
    background-color: #ffca00;
    color: #000;
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 10px 40px;
}
.more-txt-box h3 {
    color: #0e35df;
    font-size: 34px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.more-txt-box h3 span{
    color: #f30a0b;
}




/*=================================*/
/*  Login & Register Page
/*=================================*/

.register-box {
    padding: 60px 0;
}
.register-box .container {
    max-width: 470px;
}
.register-box h1 {
    color: #000;
    font-family: 'GothamProBlack';
    font-size: 24px;
    margin: 0 0 45px;
    text-transform: uppercase;
}

.form-box {
    border: 1px solid #aeaeae;
    border-top: 17px solid #ffca00;
    padding: 35px 35px 40px;
}
.form-box .form-group{
    margin: 0 0 30px;
}
.form-box .form-control{
    border: none;
    border-bottom: 1px solid #aeaeae;
    color: #000;
    font-family: 'GothamProBold';
    font-size: 16px;
    padding-left: 0;
}
.form-box .form-control:focus{
    border-bottom-color: #ffca00;
}
.form-box .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}
.form-box .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}
.form-box .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}
.form-box .form-control:-moz-placeholder { /* Firefox 18- */
    color: #000;
}
.remember-block{
    margin: 40px 0 20px;
}
.form-box .form-check {
    padding-left: 0;
}
.form-box .form-check input{
    margin-right: 5px;
    vertical-align: middle;
}
.form-box .form-check-label{
    color: #777777;
    font-size: 14px;
    vertical-align: middle;
}
.fgt-pass {
    background-image: url(../images/lock-gray-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    color: #777;
    font-size: 14px;
    padding-left: 20px;
}
.fgt-pass:hover{
    color: #777;
}
.btn.btn-green.btn-block[type=submit]{
    font-family: 'GothamProBold';
    font-size: 18px;
    padding: 8px 15px;
}
.reset-btn.btn.btn-green.btn-block[type=submit]{
    text-transform: none;
}

.register-link {
    padding-top: 50px;
}
.register-link > a{
    color: #03a9f3;
    font-family: 'GothamProBlack';
    font-size: 16px;
    text-transform: uppercase;
}
.register-link > a:hover{
    color: #ffc300;
    text-decoration: none;
}
.reg-page-note .container {
    max-width: 730px;
}
.reg-page-note p{
    background-image: url(../images/lock.png);
    background-repeat: no-repeat;
    background-position: left top 1px;
    background-size: auto 12px;
    color: #020910;
    font-size: 12px;
    line-height: 17px;
    padding-left: 18px;
}
.field-info{
    color: #777;
    font-size: 14px;
    margin: 5px 0 10px;
    text-align: left;
}
.register-link h3 {
    color: #000;
    font-family: 'GothamProBlack';
    font-size: 16px;
    margin: 0 0 15px;
    text-transform: uppercase;
}